.Header-Container {
  height: 61px;
  left: 266px;
  position: absolute;
  top: 27px;
  width: 910px;
}

.Search-Bar-Wrapper {
  height: 53px;
  left: 551px;
  position: absolute;
  top: 8px;
  width: 293px;
}

.Search-Bar {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
  height: 53px;
  position: relative;
  width: 291px;
}

.glass {
  height: 26px;
  left: 15px;
  position: absolute;
  top: 15px;
  width: 26px;
}

.Search-Input {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 54px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 18px;
  width: 220px;
}

.User-Icon {
  height: 33px;
  left: 875px;
  position: absolute;
  top: 17px;
  width: 33px;
}

.logo-hairpin {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 30px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 134px;
}
